@media only screen and (min-width: 1241px) {
html, body{
	height: 100%;
}
body{
	overflow: hidden;
	background-color: #f7fcf7;
}
table, th, td, tr{
	padding: 0px !important;
	margin: 0px;
}
h4{
	color: grey;
	margin: 0px;
}
h5{
	color: grey;
	margin: 0px;
	font-size: 14px;
	font-family: arial;
}
button{
	float: right;
}
.panel{
	text-align: right;
	float: left;
	margin: 20px;
	border: none;
}
.panel-heading{
	background-image: url('../img/INSERTHERE');
	background-repeat: no-repeat;
	background-color: #fcb794 !important;
}
.panel-body{
	background-color: #efefef;
	border: none;
}
.panel-default{
	border-style: none;
}
.leftPanel{
	width: 40%;
	float: left;
}
.rightPanel{
	width: 60%;
	float: left;
	border-left: 1px solid #EEEEEE;
	height: 550px;
}
.rightPanelAlign{
	width: 80%;
	margin: auto;
}
/* Content */
	/* Overall Header */
header{
	width: 100%;
	height: 100px;
	background-image: url('../img/42header.png');
	background-color: #F37431;
	background-repeat: no-repeat;
	text-align: right;
}
header h2{
	padding: 25px 5px 0 0;
	margin: 0px;
	color: white;
}
	/* Container */
.container{
	background-color: #FFFFFF;
	margin: auto;
	width: 1241px;
	height: 85%;
	border-right: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
}
	/* Each Pages Header */

.page-header{
	margin: 0px;
	margin-top: -55px;
	border: none;
}
.page-header h3{
	text-align: right;
	color: white;
}

/* Footer */
footer{
	position: absolute;
	margin-left: -16px;
	width: 1241px;
	background-color: #FFFFFF;
	border-right: 1px solid #EEEEEE;
	bottom: 0px;
}
	/*Footer Navigation */
.active{
	text-align: center;
	width: 120px;
}

/* Menu Page */
.monthview-eventdetail-timecolumn{
	display: none;
}
.monthview-selected{
	background-color: #FCB794;
}
.monthview-primary-with-event{
	background-color: #4292b7;
}
.calContainer{
	float: left;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
	padding: 5px;
	overflow: auto;
}
.scrollable{
	display: none;
}
.ng-isolate-scope{
	width: 96%;
}
.monthview-datetable{
	height: 300px;
}
#listmenu{
	border-left: 1px solid #EEEEEE;
	float: right;
	height: 550px;
	overflow: scroll;
	width: 60%;
}
#theMenu{
	margin: auto;
	border-left: 1px solid #EEEEEE;
}
.table{
	width: 80%;
	margin: auto;
}
.tableHeader{
	padding: 10px;
	background-image: url('../img/INSERTHERE');
	background-repeat: no-repeat;
	background-color: #FCB794;
	text-align: right;
}
.repeatedItems{
	background-color: #efefef;
	padding-top: 5px;
	margin: auto;
	height: 25px;
	width: 100%;
}
.repeatedItems div{
	margin: 0 20px;
	float: left;
}
#updater{
	margin: auto;
	margin: 10px 0 0 0;
}
#addMenuItems{
	width: 100%;
	margin: auto;
	float: left;
}
#addMenuItems .panel{
	width: 100%;
	text-align: left;
	margin: 10px 0 0 0;
}
.input-group{
	width: 49%;
	margin: 3px auto;
	float: left;
}
.input-group span{
	border-radius: 0px;
	padding: 2px 4px;
}
.input-group input{
	margin-left: 3px;
}
/* Kitchen */

#listkitchenItems{
	width: 40%;
	height: 450px;
	overflow: scroll;
	float: left;
	border-right: 1px solid #EEEEEE;
	margin-left: 15px;
}
.kitchenTable{
	width: 95%;
}
.kitchenTable .panel-heading{
	height: 60px;
}
.kitchenHeaderList{
	width: 20%;
	float: left;
}
.kitchenList{
	padding: 10px 15px;
}
.kitchenItem{
	margin: 5px 0px;
	padding: 5px 0 0 0;
	width: 20%;
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
	float: left;
}
#addItems{
	float: left;
}
.showResults {
    width: 45%;
    margin: auto;
    height: 100px;
    overflow-y: scroll;
    background-color: white;
    border: grey;
}

/* Grocery List Page */
.paper{
	float: left;
	width: 95%;
	margin: auto;
}
.paperHead{
	height: 10px;
	background-image: url('../img/notepadTop.png');
}
.paperContent{
	background-image: url('../img/groceryPaper.png');
	background-color: #FFF899;
	height: 450px;
	overflow: scroll;
}
.paperBottom{
	height: 10px;
	background-image: url('../img/notepadBottom.png');
}
.line{
	height: 26px;
	padding-left: 10px;
	padding-top: 3px;
	background-image: url('../img/groceryPaper.png');
}
.groceryHeaderList{
	float: left;
	width: 20%;
}
.groceryListItem{
	float: left;
	width: 20%;
}

}