@media only screen and (max-width: 480px) {
/*Main Page */
html, body {
	margin:0;
	padding:0;
	height:100%;}
body{
	overflow: hidden;
	background-color: #F6F9FD;
}
table, th, td, tr{
	padding: 0px !important;
	margin: 0px;
}
header{
	width: 100%;
	height: 100px;
	background-image: url('../img/headerLargeGreen.jpg');
	text-align: right;
}
header h2{
	padding: 25px 5px 0 0;
	margin: 0px;
	color: white;
}
h4{
	margin: 0px;
	color: grey;
}
h5{
	color: grey;
	margin: 0px;
	font-size: 14px;
	font-family: arial;
}
.panel{
	text-align: right;
	width: 90%;
	margin: 20px auto;
}
.panel-heading{
	background-image: url('../img/sectionHeaderGreen.jpg');
	background-repeat: no-repeat;
	background-color: #e8fce8!important;
}
#mobileScroll{
	height: 500px;
	overflow: scroll;
}
	/* Content */
.container{
	background-color: #FFFFFF;
	margin: auto;
	height: 85%;
	width: 100%;
}
	/* Header */
.page-header{
	margin: 0px;
	margin-top: -55px;
	border: none;
}
.page-header h3{
	color: white;
}
	/* Footer */

footer{
	left: 0px;
	position: absolute;
	height: 60px;
	width: 100%;
	bottom:0px;
	background-color: #FFFFFF;
}
	/* Footer Navigation */
.active{
	text-align: center;
	width: 100px;
}
footer ul{
	bottom: 0px;
	margin-top: 12px;
}
footer ul li{
	width: 50px;
}
footer ul li:hover{
	text-align: center;
}
footer ul li a{
	padding-left: 0px;
	overflow: hidden;
}
/* Home Page */

/* Menu Page */
.monthview-eventdetail-timecolumn{
	display: none;
}
.monthview-selected{
	background-color: #9ed39e;
}
.monthview-primary-with-event{
	background-color: #4292b7;
}
.calContainer{
	float: left;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
	padding: 5px;
	overflow: auto;
}
.scrollable{
	display: none;
}
.ng-isolate-scope{
	width: 96%;
}


#listmenu{
	border-left: 1px solid #EEEEEE;
	float: right;
	width: 100%;
}
#theMenu{
	border-left: 1px solid #EEEEEE;
}
.tableHeader{
	padding: 10px;
	background-image: url('../img/sectionHeaderGreen.jpg');
	background-repeat: no-repeat;
	background-color: #e8fce8;
	text-align: right;
}
.repeatedItems{
	background-color: #efefef;
	padding: 5px 0;
	margin: auto;
	height: 40px;
	width: 100%;
}
.repeatedItems div{
	width: 25%;
	float: left;
}
#updater{
	margin: auto;
}
/* Recipes Page */
.input-group{
	height: 32px;
	float: left;
}


/* Kitchen Page */

#listkitchenItems{
	width: 100%;
	height: 350px;
	overflow: scroll;
	border-right: 1px solid #EEEEEE;
}
.kitchenTable .panel-heading{
	height: 60px;
}
.kitchenHeaderList{
	width: 20%;
	float: left;
}
.kitchenList{
	padding: 10px 15px;
}
.kitchenItem{
	margin: 5px 0px;
	padding: 5px 0 0 0;
	width: 20%;
	height: 40px;
	float: left;
}
#addItems{
	width: 100%;
}
.showResults {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    border: aquamarine 1px solid;
}


/* Grocery List Page */
.paper{
	float: left;
	width: 100%;
}
.paperHead{
	height: 10px;
	background-image: url('../img/notepadTop.png');
}
.paperContent{
	background-image: url('../img/groceryPaper.png');
	background-color: #FFF899;
	height: 350px;
	overflow: scroll;
}
.paperBottom{
	height: 10px;
	background-image: url('../img/notepadBottom.png');
}
.line{
	height: 26px;
	padding-left: 10px;
	padding-top: 3px;
	background-image: url('../img/groceryPaper.png');
}
.groceryHeaderList{
	float: left;
	width: 20%;
}
.groceryListItem{
	float: left;
	width: 20%;
}


}