@media only screen and (max-width: 480px) {
/*Main Page */
html, body {
	margin:0;
	padding:0;
	height:100%;}
body{
	overflow: hidden;
	background-color: #F6F9FD;
}
table, th, td, tr{
	padding: 0px !important;
	margin: 0px;
}
header{
	width: 100%;
	height: 100px;
	background-image: url('../img/headerLargeGreen.jpg');
	text-align: right;
}
header h2{
	padding: 25px 5px 0 0;
	margin: 0px;
	color: white;
}
h4{
	margin: 0px;
	color: grey;
}
h5{
	color: grey;
	margin: 0px;
	font-size: 14px;
	font-family: arial;
}
.panel{
	text-align: right;
	width: 90%;
	margin: 20px auto;
}
.panel-heading{
	background-image: url('../img/sectionHeaderGreen.jpg');
	background-repeat: no-repeat;
	background-color: #e8fce8!important;
}
#mobileScroll{
	height: 568px;
	overflow: auto;
}
	/* Content */
.container{
	background-color: #FFFFFF;
	margin: auto;
	height: 85%;
	width: 100%;
}
	/* Header */
.page-header{
	margin: 0px;
	margin-top: -55px;
	border: none;
}
.page-header h3{
	color: white;
}
	/* Footer */

footer{
	left: 0px;
	position: absolute;
	height: 60px;
	width: 100%;
	bottom:0px;
	background-color: #FFFFFF;
}
	/* Footer Navigation */
.active{
	text-align: center;
	width: 100px;
}
footer ul{
	bottom: 0px;
	margin-top: 12px;
}
footer ul li{
	width: 50px;
}
footer ul li:hover{
	text-align: center;
}
footer ul li a{
	padding-left: 0px;
	overflow: hidden;
}
/* Home Page */

/* Menu Page */
.monthview-eventdetail-timecolumn{
	display: none;
}
.monthview-selected{
	background-color: #9ed39e;
}
.monthview-primary-with-event{
	background-color: #4292b7;
}
.calContainer{
	float: left;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
	padding: 5px;
	overflow: auto;
}
.scrollable{
	display: none;
}
.ng-isolate-scope{
	width: 96%;
}
.monthview-datetable{
	height: 300px;
}

#listmenu{
	border-left: 1px solid #EEEEEE;
	float: right;
	height: 480px;
	overflow: scroll;
	width: 100%;
}
#theMenu{
	margin: auto;
	border-left: 1px solid #EEEEEE;
}
.tableHeader{
	padding: 10px;
	background-image: url('../img/sectionHeaderGreen.jpg');
	background-repeat: no-repeat;
	background-color: #e8fce8;
	text-align: right;
}
.repeatedItems{
	background-color: #efefef;
	padding: 5px 0;
	margin: auto;
	height: 25px;
	width: 100%;
}
.repeatedItems div{
	width: 25%;
	float: left;
}
#updater{
	margin: auto;
}
/* Recipes Page */
.input-group{
	height: 32px;
	float: left;
}

.showResults{
	height: 300px;
	width: 100%;
	overflow: auto;
}
/*kitchen page*/
#listKitchen, #updateKitchen, #addItemsToKitchen{
	display: inline-block;
	vertical-align: top;
}

#updateKitchen, #addItemsToKitchen{

}

/* Grocery List Page */
.table{
	margin: 0px;
}
.paper{
	width: 80%;
	margin: auto;
}
.paperHead{
	height: 10px;
	background-image: url('../img/notepadTop.png');
}
.paper section{
	background-image: url('../img/groceryPaper.png');
	background-color: #FFF899;
	height: 400px;
	overflow: scroll;
}
.paperBottom{
	height: 10px;
	background-image: url('../img/notepadBottom.png');
}
.line{
	height: 26px;
	padding-left: 10px;
	padding-top: 3px;
	background-image: url('../img/groceryPaper.png');
}


}