<div class="page-header">
    <h3>Grocery List</h3>
</div>
<div id="mobileScroll">
    <div class="leftPanel">
        <section id="listGroceries" class="paper">
        	<div class="paperHead"></div>
            <div class="paperContent">
    			<div class="line">
    			    <a class="groceryHeaderList" ng-click="setFilter('type')"><h4>Type</h4></a>
                    <a class="groceryHeaderList" ng-click="setFilter('item')"><h4>Item</h4></a>
                    <a class="groceryHeaderList" ng-click="setFilter('quanity')"><h4>Quantity</h4></a>
                    <a class="groceryHeaderList" ng-click="setFilter('price')"><h4>Price</h4></a>
    			    <a class="groceryHeaderList"><h4>Edit</h4></a>
    			</div>
    			<div class="line" ng-repeat="items in groceries | orderBy: filterBy">
    			    <div class="special groceryListItem">{{ items.go }}<span ng-hide="!items.fromMenu"> ** </span></div>
    			    <div class="groceryListItem">{{ items.item }}</div>
    			    <div class="groceryListItem">{{ items.quanityNum }} {{ items.quanityType }}</div>
    			    <div class="groceryListItem"> ${{ items.price }}</div>
    			    <div class="groceryListItem">
                        <a href="" class="edit" ng-click="uHide(items)">Edit</a>
                	   <span class="delete glyphicon glyphicon-trash" ng-click="delete('groceryList', items.id)"></span>
                    </div>
    			</div>
    		</div>
            <div class="paperBottom"></div>
        </section>
    </div>

    <div class="rightPanel">
        <div class="rightPanelAlign">
            <section id="updateItems" ng-hide="hideUpdate">
                <br>
                    <div class="tableHeader"><h4>Edit Items</h4></div>
                    <div class="panel-body">

                        <div class="input-edit">
                        <select name="go" id="select" ng-model="updatedItem.go">
                            <option value="Grocery" selected>Grocery</option>
                            <option value="Other">Other</option>
                        </select>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Item:</span>
                            <input class="form-input" type="text" name="quanityNum" ng-model="updatedItem.quanityNum">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Quantity:</span>
                            <input class="form-input" type="number" name="quanityNum" ng-model="newItem.quanityNum">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Unit:</span>
                            <select name="quanityType" id="select" ng-model="newItem.quanityType">
                                <option ng-repeat="units in unitOptions">{{ units }}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Price: $</span>
                            <input class="form-input" type="text" name="price" ng-model="updatedItem.price">
                        </div>
                        <button ng-click="update('groceryList', updatedItem.id)">Update</button>
                    </div>
            </section>

            <section id="addItems" ng-hide="!hideUpdate">
                <br>
                    <div class="tableHeader"><h4>Add new item</h4></div>
                    <div class="panel-body">

                        <section id="searchsearchItems">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="searchinput" placeholder="Search" ng-keyup="search(searchinput)">
                            </div>
                            
                            <div class="showResults">
                                <div ng-repeat="result in searchResults">
                                    <div ng-click="populateNewItem(result)">
                                        {{result.item}}
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">List Type:</span>
                            <select name="go" id="select" ng-model="newItem.go">
                                <option value="Grocery" selected>Grocery</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Item:</span>
                            <h4>{{ newItem.item }}</h4>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Quantity:</span>
                            <input class="form-input" type="text" name="quanityNum" ng-model="newItem.quanityNum">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Unit:</span>
                            <select name="quanityType" id="select" ng-model="newItem.quanityType">
                                <option ng-repeat="units in unitOptions">{{ units }}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Price: $</span>
                            <input class="form-input" type="text" name="price" ng-model="newItem.price">
                        </div>
                        <button ng-click="create('groceryList')">Add</button>
                    </div>

            </section>
        </div>
    </div>
</div>
