<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        
        <script src="app.js"></script>

    </head>
    <body ng-app='app'>
        <div class="container" ng-controller='myCtrl'>

        <section id="addItemsToKitchen">
                <h2>Create</h2>
                <div class="input-group">
                    <label for="id">id:</label>
                    <input class="form-control" type="number" name="id" ng-model="newItem.id">
                </div>
                <div class="input-group">
                    <label for="item">item:</label>
                    <input class="form-control" type="text" name="item" ng-model="newItem.item">
                </div>
                <button class="btn btn-success" ng-click="create()">Create</button>
            </section>
        <section id="updateItemsInKitchen">
                <h2>Update</h2>
                <div class="input-group">
                    <label for="id">id:</label>
                    <input class="form-control" type="number" name="id" ng-model="updatedItem.id">
                </div>
                <div class="input-group">
                    <label for="title">item:</label>
                    <input class="form-control" type="text" name="title" ng-model="updatedItem.item">
                </div>
                <button class="btn btn-success" ng-click="update()">Update</button>
            </section>

        </div>
    </body>
</html>