<section id="listKitchen">
    <h2>What's in my Kitchen?</h2>
    <div ng-repeat="items in kitchen">
        <div>
            <p>#{{items.id}} 
            {{ items.item }}
            <a href="" class="edit" ng-click="uHide(items.id, items.item)">Edit</a>
            <span class="delete glyphicon glyphicon-trash" ng-click="delete(items.id)"></span>
            </p>
            

        </div>
    </div>
</section>
<section id="updateKitchen" ng-hide="hideUpdate">
                <p>Update {{ updatedItem.item }}</p>
                <div class="input-group">
                    <label for="item">item:</label>
                    <input class="form-control" type="text" name="item" ng-model="updatedItem.item">
                </div>
                <button class="btn btn-success" ng-click="update(updatedItem.id)">Update</button>
            </section>
<section id="addItemsToKitchen">
    <h2>Create</h2>
    <div class="input-group">
        <label for="id">id:</label>
        <input class="form-control" type="number" name="id" ng-model="newItem.id">
    </div>
    <div class="input-group">
        <label for="item">item:</label>
        <input class="form-control" type="text" name="item" ng-model="newItem.item">
    </div>
    <button class="btn btn-success" ng-click="create()">Create</button>
</section>

