<div class="page-header">
    <h3>What's in my kitchen?</h3>
</div>

<div id="mobileScroll">
    <section class="leftPanel">
        <div class="kitchenTable">
            <div class="panel-heading">
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('item')">Item</h4></a>
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('quanity')">Available Quantity</h4></a>
                <h4 class="kitchenHeaderList">Items on Menu</h4>
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('price')">Price</h4></a>
                <a class="kitchenHeaderList" href=""><h4>Edit</h4></a>
            </div>
            
            <div class="kitchenList" ng-repeat="items in kitchen | orderBy: filterBy">
                <h5 class="kitchenItem">{{ items.item }}</h5>
                <h5 class="kitchenItem">{{ items.quanityNum }} {{ items.quanityType }}</h5>
                <h5 class="kitchenItem">{{ items.menuQuanityNum }} {{ items.quanityType }}</h5>
                <h5 class="kitchenItem">${{ items.price }}</h5>
                <h5 class="kitchenItem">
                    <a href="" class="edit" ng-click="uHide(items)">Edit</a>
                    <span class="delete glyphicon glyphicon-trash" ng-click="delete('kitchenItems', items.id)"></span>
                </h5>
            </div>
        </div>
    </section>

    <section class="rightPanel">
        <div class="rightPanelAlign">
            <section id="updateItems" ng-hide="hideUpdate">
                <div class="tableHeader">
                    <h4>Edit Items</h4>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" for="item">Item:</span>
                        <input class="form-input" type="text" name="item" ng-model="updatedItem.item">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="quanityNum">Quantity:</span>
                        <input class="form-input" type="text" name="quanityNum" ng-model="updatedItem.quanityNum">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="quanityType">Unit:</span>
                        <select name="quanityType" id="select" ng-model="updatedItem.quanityType">
                            <option ng-repeat="units in unitOptions">{{ units }}</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="price">Price: $</span>
                        <input class="form-input" type="text" name="price" ng-model="updatedItem.price">
                    </div>
                </div>
                <button ng-click="update('kitchenItems', updatedItem.id)">Update</button>
            </section>
            <br>
            <section id="addItems" ng-hide="!hideUpdate">
                <div class="tableHeader">
                    <h4>Add new item</h4>
                </div>
                <div class="panel-body">
                    <section id="searchsearchItems">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="searchinput" placeholder="Search" ng-keyup="search(searchinput)">
                        </div>
                        
                        <div class="showResults">
                            <div ng-repeat="result in searchResults">
                                <div class="showResultsList" ng-click="populateNewItem(result)">
                                    {{result.item}}
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="input-group">
                        <span class="input-group-addon" for="item">Item:</span>
                        <h4>{{ newItem.item }}</h4>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="quanityNum">Quantity:</span>
                        <input class="form-input" type="text" name="quanityNum" ng-model="newItem.quanityNum">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="quanityType">Unit:</span>
                        <select name="quanityType" id="select" ng-model="newItem.quanityType">
                            <option ng-repeat="units in unitOptions">{{ units }}</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" for="price">Price: $</span>
                        <input class="form-input" type="text" name="price" ng-model="newItem.price">
                    </div>
                    <button class="addButton" ng-click="newItem.menuQuanityNum = 0; create('kitchenItems')">Add</button>
                </div>
                <br><br><br><br><br><br><br>
            </section>
        <div>
    </section>
</div>
