<div class="row">
    <div class="page-header">
        <h3>What's in my kitchen?</h3>
    </div>
    <section id="listkitchenItems">
        <div class="kitchenTable">
            <div class="panel-heading">
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('item')">Item</h4></a>
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('quanity')">Quantity</h4></a>
                <a class="kitchenHeaderList" href=""><h4 ng-click="setFilter('price')">Price</h4></a>
                <a class="kitchenHeaderList" href=""><h4>Edit</h4></a>
            </div>
            <div ng-hide="hideUpdate">
                <div class="input-edit">
                    <input class="form-input" type="text" name="item" ng-model="updatedItem.item">
                </div>
                <div class="input-edit">
                    <input class="form-input" type="text" name="quanityNum" ng-model="updatedItem.quanityNum">
                    <select name="quanityType" id="select" ng-model="updatedItem.quanityType">
                    <option ng-repeat="units in unitOptions">{{ units }}</option>
                </div>
                <div class="input-edit">
                    <input class="form-input" type="text" name="price" ng-model="updatedItem.price">
                </div>
                <div class="input-edit">
                    <button class="btn btn-success" ng-click="update('kitchenItems', updatedItem.id)">Update</button>
                </div>
            </div>
            <div class="kitchenList" ng-repeat="items in kitchen | orderBy: filterBy">
                <h5 class="kitchenItem">#{{ items.id }} {{ items.item }}</h5>
                <h5 class="kitchenItem">{{ items.quanityNum }} {{ items.quanityType }}</h5>
                <h5 class="kitchenItem">${{ items.price }}</h5>
                <a class="kitchenItem" href="" class="edit" ng-click="uHide(items)">
                    Edit
                    <span class="delete glyphicon glyphicon-trash" ng-click="delete('kitchenItems', items.id)"></span>
                </a>
            </div>
        </div>
    </section>

    <section class="col-lg-3" id="updateItems" ng-hide="hideUpdate">
        <h3>Update</h3>
        <div class="input-group">
            <label for="item">item:</label>
            <input class="form-input" type="text" name="item" ng-model="updatedItem.item">
        </div>
        <div class="input-group">
            <label for="quanityNum">Quanity:</label>
            <input class="form-input" type="text" name="quanityNum" ng-model="updatedItem.quanityNum">
        </div>
        <div class="input-group">
            <label for="quanityType">unit:</label>
            <select name="quanityType" id="select" ng-model="updatedItem.quanityType">
                <option ng-repeat="units in unitOptions">{{ units }}</option>
            </select>
        </div>
        <div class="input-group">
            <label for="price">price: $</label>
            <input class="form-input" type="text" name="price" ng-model="updatedItem.price">
        </div>
        <button class="btn btn-success" ng-click="update('kitchenItems', updatedItem.id)">Update</button>
    </section>
    <section class="col-lg-3" id="addItems" ng-hide="!hideUpdate">
        <h3>Add new item</h3>
        <div class="input-group">
            <label for="id">id:</label>
            <input class="form-input" type="number" name="id" ng-model="newItem.id">
        </div>
        <div class="input-group">
            <label for="item">item:</label>
            <input class="form-input" type="text" name="item" ng-model="newItem.item">
        </div>
        <div class="input-group">
            <label for="quanityNum">Quanity:</label>
            <input class="form-input" type="text" name="quanityNum" ng-model="newItem.quanityNum">
        </div>
        <div class="input-group">
            <label for="quanityType">unit:</label>
            <select name="quanityType" id="select" ng-model="newItem.quanityType">
                <option ng-repeat="units in unitOptions">{{ units }}</option>
            </select>
        </div>
        <div class="input-group">
            <label for="price">price: $</label>
            <input class="form-input" type="text" name="price" ng-model="newItem.price">
        </div>

        <button class="btn btn-success" ng-click="create('kitchenItems')">Add</button>
    </section>

</div>