
/*Main Page */
html, body {margin:0;
	padding:0;
	height:100%;}
body{
	background-color: #F6F9FD;
}
.page-header{
	text-align: center
}
	/* Content */
.container{
	background-color: #FFFFFF;
	margin: auto;
	height: 100%;
	width: 970px;
	box-shadow: 0px 0px 10px #888888;
	overflow-y: scroll;
}

	/* Footer */

footer{
	position: absolute;
	bottom:0px;
}
	/* Footer Navigation */
footer ul li{
	bAackground-color: #6E9FDE;
}

.special{
	font-style: italic;
	font-size: 80%;
}
/* Recipes Page */
.showResults{
	height: 400px;
	overflow: scroll;
}
/*kitchen page*/
#listKitchen, #updateItems, #addItems{
	display: inline-block;
	vertical-align: top;

}

.input-edit{
	background-color: #cccccc;
}
