/*body * {
	border: 1px solid black;
}*/

.page-header{
	text-align: center
}
footer{
	position: absolute;
	bottom:0px;
}

/*kitchen page*/
#listKitchen, #updateKitchen, #addItemsToKitchen{
	display: inline-block;
	vertical-align: top;
}

#updateKitchen, #addItemsToKitchen{

}

.form-input{
	display: inline-block;
}
