<div class="page-header">
	<h3>What's on the menu?</h3>
</div>
<div id="mobileScroll">
<div class="calContainer" ng-init="loadEvents()">
    <calendar calendar-mode="mode" event-source="eventSource">
        Event selected:{{event.startTime|date:
                'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
</div>

<section id="listmenu">
        <div class="table">
            <section id="updater">
                <div ng-hide="hideUpdate">
                    <div class="input-edit">
                        <input class="form-input" type="text" name="item" ng-model="updatedItem.item">
                    </div>
                    <div class="input-edit">
                        <label for="quanityNum">Quanity:</label>
                        <input class="form-input" type="number" name="quanityNum" ng-model="updatedItem.quanityNum">
                        <select name="quanityType" id="select" ng-model="updatedItem.quanityType">
                        <option ng-repeat="units in unitOptions">{{ units }}</option>
                    </div>
                    <div class="input-edit">
                        <label for="price">price: $</label>
                        <input class="form-input" type="number" name="price" ng-model="updatedItem.price">
                    </div>
                    <div class="input-edit">
                        <button class="btn btn-success" ng-click="updateMenu(menu, updatedItem.id)">Update</button>
                    </div>
                </div>
            </section>
            <section id="theMenu">
                <div class="tableHeader">
                    <h4>Breakfast</h4>
                </div>
                <div ng-repeat="items in menu.breakfast" class="repeatedItems">
                    <div><h5>#{{ items.id }} {{ items.item }}</h5></div>
                    <div><h5>{{ items.quanityNum }} {{ items.quanityType }}</h5></div>
                    <div><h5>${{ items.price }}</h5></div>
                    <div>
                        <a href="" class="edit" ng-click="uHide(items); menuSelection='breakfast'">Edit</a>
                        <span class="delete glyphicon glyphicon-trash" ng-click="deleteMenuItem(menu, 'breakfast', items.id)"></span>
                    </div>
                </div>
            	<div class="tableHeader">
                    <h4>Lunch</h4>
                </div>
                <div ng-repeat="items in menu.lunch" class="repeatedItems">
                    <div><h5>#{{ items.id }} {{ items.item }}</h5></div>
                    <div><h5>{{ items.quanityNum }} {{ items.quanityType }}</h5></div>
                    <div><h5>${{ items.price }}</h5></div>
                    <div>
                        <a href="" class="edit" ng-click="uHide(items); menuSelection='lunch'">Edit</a>
                        <span class="delete glyphicon glyphicon-trash" ng-click="deleteMenuItem(menu, 'lunch', items.id)"></span>
                    </div>
                </div>
            	<div class="tableHeader">
                    <h4>Dinner</h4>
                </div>
                <div ng-repeat="items in menu.dinner" class="repeatedItems">
                    <div><h5>#{{ items.id }} {{ items.item }}</h5></div>
                    <div><h5>{{ items.quanityNum }} {{ items.quanityType }}</h5></div>
                    <div><h5> ${{ items.price }}</h5></div>
                    <div>
                        <a href="" class="edit" ng-click="uHide(items); menuSelection='dinner'">Edit</a>
                        <span class="delete glyphicon glyphicon-trash" ng-click="deleteMenuItem(menu, 'dinner', items.id)"></span>
                    </div>
                </div>
            </section>

            <section class="col-lg-3" id="addItems" ng-hide="!hideUpdate">
                <h3>Add new item</h3>
                <div class="input-group">
                    <select name="menuSelection" id="select" ng-model="menuSelection">
                        <option value="breakfast" selected>Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="id">id:</label>
                    <input class="form-input" type="number" name="id" ng-model="newItem.id">
                </div>
                <div class="input-group">
                    <label for="item">item:</label>
                    <input class="form-input" type="text" name="item" ng-model="newItem.item">
                </div>
                <div class="input-group">
                    <label for="quanityNum">Quanity:</label>
                    <input class="form-input" type="number" name="quanityNum" ng-model="newItem.quanityNum">
                </div>
                <div class="input-group">
                    <label for="quanityType">unit:</label>
                    <select name="quanityType" id="select" ng-model="newItem.quanityType">
                        <option ng-repeat="units in unitOptions">{{ units }}</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="price">price: $</label>
                    <input class="form-input" type="number" name="price" ng-model="newItem.price">
                </div>

                <button class="btn btn-success" ng-click="createMenu(menu, menuSelection)">Add</button>
            </section>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </section>
</div>