
<container>
<h1>Search for recipes and add to menu</h1>

 

           <section id="searchRecipes">
                <div class="input-group">
                   
                    <input class="form-control" type="text" ng-model="searchinput" placeholder="Search">
                </div>
                <button class="btn btn-success" ng-click="getRecipeSearch(searchinput)">Search</button>
                
                <div ng-repeat="result in searchResults">
                    {{result.recipeName}}
                </div>
            </section> 
       
      
        </li>
      </ul>
    </div>

 
      
    </container>

<div class="page-header">
	
</div>
